<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.ggm.goguma.mapper.CartMapper">
	<select id="getCartList" parameterType="long" resultType="CartItemDTO">
		SELECT 
			C.cartid, 
			C.productid, 
			C.cartamount, 
			P.productname, 
			P.parentproductname, 
			C.cartprice, 
			P.productprice, 
			P.company, 
			P.stock,
			P.prodimgurl,
			P.isthumbnail,
			(SELECT discountpercent
             FROM membergrade
             WHERE gradeid = (SELECT grade
                              FROM member
                              WHERE memberid = #{memberId})) AS discountpercent
			FROM cart C JOIN productoriginal P
			ON C.cartid = P.cartid
			WHERE P.memberid = #{memberId}
	</select>
	
	<update id="addCartCount" parameterType="long">
		UPDATE cart
		SET cartamount = cartamount + 1
		WHERE cartid = #{cartId}
	</update>
	<update id="minusCartCount" parameterType="long">
		UPDATE cart
		SET cartamount = cartamount - 1
		WHERE cartid = #{cartId}
	</update>
	
	<delete id="deleteCart" parameterType="long">
		DELETE FROM cart
		WHERE cartid = #{cartId}
	</delete>
	
	<insert id="insertCart">
		INSERT INTO cart(productid, memberid, cartamount, cartprice)
		VALUES (#{productId}, #{memberId}, #{cartAmount}, (SELECT productPrice
															FROM product
															WHERE productid = #{productId})) 
	</insert>
</mapper>