<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="com.ggm.goguma.mapper.MarketMapper">
	<resultMap type="MarketDTO" id="MarketResult">
		<id property="marketId" column="marketId"/>
		<result property="marketId" column="marketId"/>
		<result property="marketName" column="marketName"/>
		<result property="marketDetail" column="marketDetail"/>
		<result property="marketThumbnail" column="marketThumb"/>
		<result property="marketBanner" column="marketBanner"/>
		<result property="memberId" column="memberId"/>
		<association property="category" column="categoryId" select="com.ggm.goguma.mapper.CategoryMapper.findCategoryById"></association>
	</resultMap>
	
	
	<insert id="insertMarket" parameterType="MarketDTO" useGeneratedKeys="true" keyProperty="marketId" keyColumn="marketId">
	
		INSERT INTO market(MEMBERID, CATEGORYID, MARKETNAME, MARKETDETAIL, MARKETTHUMB,MARKETBANNER)
		VALUES(#{memberId}, #{category.categoryID}, #{marketName}, #{marketDetail}, #{marketThumbnail}, #{marketBanner})
	</insert>


	<select id="findMarketById" parameterType="long" resultMap="MarketResult">
		SELECT 
			marketId,memberId, marketName, marketDetail,marketThumb,marketBanner,categoryId
		FROM
			Market 
		WHERE marketId = #{id} 
	</select>
	
	<select id="findFollwMarketCountByMarketIdAndMemberId" parameterType="FollowMarketDTO" resultType="int">
		SELECT count(*) FROM followMarket
		WHERE marketId = #{marketId} AND memberId = #{memberId}
	</select>
	
	<insert id="insertFollowMarket" parameterType="FollowMarketDTO">
		INSERT INTO followMarket(marketId, memberId) 
		VALUES (#{marketId},#{memberId})
	</insert>
	
	<delete id="deleteFollowMarket" parameterType="FollowMarketDTO">
		DELETE followMarket
		WHERE marketId = #{marketId} AND memberId = #{memberId}
	</delete>
</mapper>