<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="com.ggm.goguma.mapper.MemberCouponMapper">
	
	

	<insert id="createMemberCoupon" statementType="CALLABLE" parameterType="MemberCouponDTO">
		{call COUPON_PKG.sp_create_member_coupon(
				#{memberId, mode=IN, jdbcType=NUMERIC},
				#{couponId, mode=IN, jdbcType=NUMERIC}
			)
		}
	</insert>


</mapper>