<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="com.ggm.goguma.mapper.MemberGradeMapper">
	
	<resultMap type="MemberGradeDTO" id="MemberGradeResult">
		<id property="id" column="gradeid" />
		<result property="id" column="gradeid"/>
		<result property="name" column="gradename"/>
		<result property="pointPercent" column="pointpercent"/>
		<result property="discountPercent" column="discountpercent"/>
		<result property="orderCriteria" column="ordercriteria"/>
		<result property="priceCriteria" column="pricecriteria"/>
	</resultMap>

	<select id="findById" resultMap="MemberGradeResult">
		SELECT 
			*
		FROM 
			membergrade
		WHERE 
			gradeid = #{id}
	</select>


</mapper>