<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ggm.goguma.mapper.MyPageMapper">
	<select id="getReceiptList" resultType="ReceiptDTO">
		select receiptid, orderdate, memberid from receiptlistview where memberid = #{memberId}
		order by orderdate desc
	</select>

	<select id="getOrderList" resultType="OrderDTO">
		select orderid, name, price, image, count, status, receiptid
		from orderlistview where receiptId = #{receiptId}
		order by name
	</select>
	
	<update id="updateOrderStatus">
		update orderdetail set orderstatus = #{status} where orderid = #{orderId}
	</update>

	<select id="getAddressList" resultType="DeliveryAddressDTO">
		select addressId, nickname, recipient, address, contact, isdefault
		from deliveryaddress where memberId = #{memberId}
		order by addressId
	</select>
	
	<select id="getDefaultAddress" resultType="DeliveryAddressDTO">
		select addressId, nickname, recipient, address, contact
		from deliveryaddress
		where memberId = #{memberId} and isdefault = 1
	</select>
	
	<insert id="addAddress" parameterType="DeliveryAddressDTO">
		insert into deliveryaddress(memberid, nickname, recipient, address, contact, isdefault)
		values(#{memberId}, #{nickName}, #{recipient}, #{address}, #{contact}, #{isDefault})
	</insert>
	
	<update id="updateAddress" parameterType="DeliveryAddressDTO">
		update deliveryaddress set nickname = #{nickName}, recipient = #{recipient},
		address = #{address}, contact = #{contact}, isdefault = #{isDefault}
		where memberid = #{memberId} and addressid = #{addressId}
	</update>
	
	<delete id="deleteAddress">
		delete from deliveryaddress
		where memberId = #{memberId} and addressid = #{addressId}
	</delete>
	
	<update id="setDefault">
		update deliveryaddress set isdefault = 1
		where memberId = #{memberId} and addressId = #{addressId}
	</update>
	
	<update id="cancelDefault">
		update deliveryaddress set isdefault = 0 where memberId = #{memberId}
	</update>
</mapper>