<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ggm.goguma.mapper.MyPageMapper">
	<select id="getAddressList" resultType="DeliveryAddressDTO">
		select addressId, nickname, recipient, address, contact
		from deliveryaddress where memberId = #{memberId}
		order by addressId
	</select>
	<select id="getDefaultAddress" resultType="DeliveryAddressDTO">
		select addressId, nickname, recipient, address, contact
		from deliveryaddress
		where memberId = #{memberId} and isdefault = 1
	</select>
	
	<delete id="deleteAddress">
		delete from deliveryaddress
		where memberId = #{memberId} and addressid = #{addressId}
	</delete>
	
	<update id="setDefault">
		update deliveryaddress set isdefault = 1
		where memberId = #{memberId} and addressId = #{addressId}
	</update>
	<update id="cancelDefault">
		update deliveryaddress set isdefault = 0 where memberId = #{memberId}
	</update>
</mapper>