<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ggm.goguma.mapper.MyPageMapper">
	<select id="getAddressList" resultType="DeliveryAddressDTO">
		select addressId, nickname, recipient, address, contact
		from deliveryaddress where memberid = #{memberid}
		order by addressId
	</select>
	<select id="getDefaultAddress" resultType="DeliveryAddressDTO">
		select nickname, recipient, address, contact
		from deliveryaddress
		where memberid = #{memberid} and isdefault = 1
	</select>
	<delete id="deleteAddress">
		delete from deliveryaddress where addressId = #{addressId}
	</delete>
</mapper>