<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggm.goguma.mapper.ProductMapper">

	<!-- 상품 목록 -->
	<select id="getProductList" resultType="com.ggm.goguma.dto.ProductDTO">
		SELECT *
		FROM (SELECT p.productname AS productname, p.price AS price, p.categoryid, i.prodimgurl AS prodimgurl
				FROM product p, productimage i
				WHERE p.productid = i.productid AND p.parentpid is null) A, category B
		WHERE A.categoryid = B.categoryid <!-- AND B.categoryid = 22 -->
	</select>
	
	<!-- 상품 개수 -->
	<select id="getProductCount" resultType="long">
		SELECT count(*) AS cnt
		FROM product
	</select>
	
</mapper>