<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ggm.goguma.mapper.ServiceClientMapper">
	
	<select id="getSCategory" resultType="ServiceCategoryDTO">
		SELECT categoryid, categoryname
		FROM category
		WHERE categorytype = 'C'
	</select>
	
	<!-- 작성자 : 경민영
		 작성일 : 2022.06.12
		 내 상담내역 조회 -->
	<select id="getQnaList" resultType="ServiceClientDTO">
		SELECT B.*
		FROM (SELECT A.*, rownum as rnum
				FROM (SELECT q.qnaid, q.memberid, c.categoryname AS categoryName, q.qnatitle, q.qnacontent, q.createdat, q.answerstatus
					FROM qna q, category c
					WHERE q.categoryid = c.categoryid
					AND q.memberid = #{memberID}
					ORDER BY q.createdat DESC) A ) B 
		WHERE rnum BETWEEN #{startNum} AND #{endNum}
	</select>
	
	<!-- 작성자 : 경민영
		 작성일 : 2022.06.12
		 내 상담내역 개수 -->
	<select id="getQnaCount" parameterType="long" resultType="long">
		SELECT COUNT(*) AS cnt
		FROM qna q
		WHERE q.memberid = #{memberID}
	</select>
	
	<insert id="insertQna" parameterType="ServiceClientDTO">
		INSERT INTO qna(memberid, categoryid, qnatitle, qnacontent, answerstatus, receiptid, phone, email)
		VALUES(
			#{serviceClientDTO.memberID},
			#{serviceClientDTO.categoryID},
			#{serviceClientDTO.qnaTitle},
			#{serviceClientDTO.qnaContent},
			0,
			#{serviceClientDTO.receiptID},
			#{serviceClientDTO.phone},
			#{serviceClientDTO.email}
		)
	</insert>
	
	<select id="getFaqList" resultType="ServiceClientDTO">
		SELECT B.*
		FROM (SELECT A.qnaid, A.memberid, m.nickname AS nickName, A.categoryname AS categoryName, A.qnatitle, A.qnacontent, A.createdat, A.answerstatus, rownum as rnum
				FROM (SELECT q.qnaid, q.memberid, c.categoryname AS categoryName, q.qnatitle, q.qnacontent, q.createdat, q.answerstatus
						FROM qna q, category c
						WHERE q.categoryid = c.categoryid
						ORDER BY q.createdat DESC) A, member m
	                    WHERE A.memberid = m.memberid) B
		WHERE rnum BETWEEN #{startNum} AND #{endNum}
	</select>
	
	<select id="getFaqCount" parameterType="long" resultType="long">
		SELECT COUNT(*) AS cnt
		FROM qna
	</select>
	
</mapper>