<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ggm.goguma.mapper.ServiceClientMapper">
	
	<select id="getSCategory" resultType="ServiceCategoryDTO">
		SELECT categoryid, categoryname
		FROM category
		WHERE categorytype = 'C'
	</select>
	
	<!-- 작성자 : 경민영
		 작성일 : 2022.06.12
		 내 상담내역 조회 -->
	<select id="getQnaList" resultType="ServiceClientDTO">
		SELECT Q.*
		FROM (SELECT q.qnaID, q.memberID, c.categoryName AS categoryName, q.qnaTitle, q.qnaContent, q.createdAt, q.answerStatus, rownum as rnum
			FROM qna q, category c
			WHERE q.categoryid = c.categoryid
			AND q.memberid = #{memberID}) Q
		WHERE rnum BETWEEN #{startNum} AND #{endNum}
	</select>
	
	<!-- 작성자 : 경민영
		 작성일 : 2022.06.12
		 내 상담내역 개수 -->
	<select id="getQnaCount" parameterType="long" resultType="long">
		SELECT COUNT(*) AS cnt
		FROM qna q, category c
		WHERE q.categoryid = c.categoryid
		AND q.memberid = #{memberID}
	</select>
	
</mapper>