@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.myReviewImg {
    width: 60px;
    height: 60px;
    float: left;
}

.myReviewProduct {
	margin-left: 20px;
	color: #010101;
}

.myReview {
	width: 100%;
	height: auto;
	background-color: #F8F8F8;
	border-radius: 8pt;
	margin-top: 10px;
  	margin-bottom: 10px
}

.myReviewTop {
	width: 100%;
    height: 60px;
    margin: 17px 10px 13px 20px;
}

.myReviewBottom {
	width: 100%;
	height: auto;
}

.myReviewMemeberImg {
    float: right;
    width: 185px;
    margin-left: 20px;
    margin-right: 20px;
    object-fit: contain;
    margin: 10px 20px 20px 20px;
}

.review-create-date {
	float: left;
	margin-left: 20px;
    padding-top: 2px;
    color: #aaa;
}

.review-content {
	color: #000;
    margin: 20px 5px 20px 5px;
    font-size: 13pt;
    width: 660px;
    word-wrap: break-word;
}

#deleteBtn {
	width: auto;
	height: auto;
	color: #fff;
	background: #6426DD;
	border: none;
	font-size: 10pt;
	border-radius: 5pt;
}