@charset "UTF-8";

.content{
	border-top: 2px solid #d8d8d8;
	border-bottom: 2px solid #d8d8d8;
}
.col-content{
	border-left: 1px solid #ddd;
	margin: auto;
	padding: 10px;
}
.pop-row{
	border: 1px solid #ddd;
}
.col-head{
	text-align: center;
    padding: 10px 0;
    margin: auto;
}
.btnGroup{
	text-align: center;
}
.btn-primary{
	background: #6426D0;
	border-color: #F3F3F3;
}
.btn:hover {
    background-color: #FF493C;
    border-color: #F3F3F3;
}
#findOrderPop{
	position:absolute;
	background: white;
	left:100px; 
	top:100px; 
	width:500px; 
	height:500px; 
	z-index:1; 
	border: 2px solid #eee;
	display: none;
}
.product-name{
	width: 200px;
}
/*popup*/
.popup_layer {position:fixed;top:0;left:0;z-index: 10000; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4); }
/*팝업 박스*/
.popup_box{
	overflow:auto;
	position: relative;
	top:50%;
	left:50%;
	height: 600px; 
	width:600px;
	transform:translate(-50%, -50%);z-index:1002;box-sizing:border-box;background:#fff;box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);-webkit-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);-moz-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);}
/*컨텐츠 영역*/
.popup_box .popup_cont {padding:10px;line-height:1.4rem;font-size:14px; }
.popup_box .popup_cont h2 {padding:15px 0;color:#333;margin:0;}
.popup_box .popup_cont p{ border-top: 1px solid #666;padding-top: 30px;}
/*버튼영역*/
.popup_box .popup_btn {
	display:table;
	table-layout: fixed;
	width:100%;
	height:70px;
	word-break: break-word;
	text-align: center;
	}
.popup_box .popup_btn a {position: relative; display: table-cell; height:70px;  font-size:17px;text-align:center;vertical-align:middle;text-decoration:none; background:#ECECEC;}
.popup_box .popup_btn a:before{content:'';display:block;position:absolute;top:26px;right:29px;width:1px;height:21px;background:#fff;-moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg);}
.popup_box .popup_btn a:after{content:'';display:block;position:absolute;top:26px;right:29px;width:1px;height:21px;background:#fff;-moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg);}
.popup_box .popup_btn a.close_day {background:#5d5d5d;}
.popup_box .popup_btn a.close_day:before, .popup_box .popup_btn a.close_day:after{display:none;}
/*오버레이 뒷배경*/
.popup_overlay{position:fixed;top:0px;right:0;left:0;bottom:0;z-index:1001;;background:rgba(0,0,0,0.5);}
/*popup*/

.pagination{
	justify-content: center;
}