@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.review-content {
    width: 95%;
    height: 100px;
    margin-left: 22px;
    margin-right: 22px;
}

input {
    font-size: 13pt;
}

.cancleBtn {
    width: 100px;
    height: 75px;
    background-color: #F3F3F3;
    border-color: #F3F3F3;
    border-radius: 0px;
    color: #6426DD;
    float: right;
    font-size: 12pt;
    font-weight: bold;
    border: none;
    margin-top: 5px;
}

.finishBtn {
    width: 180px;
    height: 75px;
    background-color: #F3F3F3;
    border-color: #F3F3F3;
    border-radius: 0px;
    float: right;
    color: #6426DD;
    font-size: 12pt;
    font-weight: bold;
    border: none;
    margin-top: 5px;
}

.writeBtn {
    width: 18%;
    height: 55px;
    background-color: #F3F3F3;
    border-color: #F3F3F3;
    border-radius: 0px;
    color: #6426DD;
    font-size: 12pt;
    font-weight: bold;
    border: none;
    margin-right: 22px;
}

.write-modal {
    width: 100%;
    height: 260px;
    background-color: #F3F3F3;
}

.membername {
    margin-top: 0px;
    text-align: left;
    padding-top: 20px;
    padding-left: 22px;
}

.imgList {
	width: 200px;
    margin-left: 200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

img {
    width: 180px;
    margin-right: 20px;
}
  
.modal {
	display: none;
	z-index: 500;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
}

.modal button {
	position: absolute;
	top: 3rem;
	right: 3rem;
	background: transparent;
	border: 0;
	color: #ffffff;
	font-size: 3rem;
}

.modalBox {
	position: relative;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -20%);
	background-color: #ffffff;
	width: 30%;
	height: 30%;
	text-align: center;
}

.modalBox img {
	width: 100%;
}

.modalBox p {
	color: #ffffff;
	font-size: 2rem;
	padding: .2rem;
}

.tab {
    width: 100%;
    height: 1000px;
    /* 상품상세, 상품평 tab */
    margin: 0px auto;
    padding-top: 80px;
}

.tabnav {
    font-size: 0;
    width: 100%;
    height: 55px;
    border: 1px solid #fff;
}

.tabnav li {
    display: inline-block;
    height: 55px;
    width: 529px;
    text-align: center;
    border-right: 1px solid #ddd;
}

.tabnav li a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0px;
    width: 50%;
    height: 3px;
}

.tabnav li a.active {
    border-bottom: 1px solid #fff;
}

.tabnav li a {
    position: relative;
    display: block;
    background: #F3F3F3;
    color: #000;
    padding: 0 50px;
    line-height: 55px;
    text-decoration: none;
    font-size: 16px;
}

.tabnav li a.active {
    background: #FF493C;
    color: #fff;
}

.tabcontent {
    padding: 20px;
    height: auto;
}

.header {
    height: 110px;
}

.thumbnailImg {
    width: 50%;
    margin: 20px 20px auto;
}

h3,
h4,
h5 {
    margin-left: 17.5px;
}

.search {
    position: relative;
    width: 500px;
    margin: auto;
    padding-top: 30px;
}

.search input {
    width: 100%;
    height: 28px;
    border: 0.5px solid #F3F3F3;
    border-radius: 30px;
    padding: 12px 0px 12px 16px;
    background-color: #F3F3F3;
    font-size: 15px;
}

.searchBtn {
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    width: 20px;
    top: 44px;
    right: 2px;
    margin: 0;
    font-size: 20px;
}

.prodInfo {
    height: 650px;
}

.searchBtn::before {
    content: "\f002";
}

.prodlist {
    position: relative;
    width: 1060px;
    height: 1000px;
    margin: auto;
    padding-top: 30px;
}

.product_detail {
    float: right;
    width: 45%;
}

table {
    width: 100%;
    height: 100%;
}

td {
    height: 90px;
}

.cartBtn {
    width: 100%;
    height: 55px;
    background-color: #F3F3F3;
    border-color: #F3F3F3;
    border-radius: 0px;
    color: white;
    font-size: 16pt;
    border: none;
}

.buyBtn {
    width: 100%;
    height: 55px;
    background-color: #FF493C;
    border-color: #FF493C;
    border-radius: 0px;
    color: white;
    font-size: 15pt;
    border: none;
}

.calc {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    border-color: #F3F3F3;
    border: none;
}

.total_price {
    color: #FF493C;
    text-align: right;
}

#numBox {
    display: inline-flex;
    border: none;
    height: 30px;
    text-align: center;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.submenu {
    display: none;
    position: absolute;
    left: 0;
}

ul.submenu {
    display: block;
}

ul.submenu>li {
    display: inline-block;
    width: 170px;
    height: 50px;
    background: #eee;
    border: 1px solid #eee;
    text-align: left;
}

ul.submenu>li:hover {
    background: #fff;
}

#menu {
    width: 170px;
    height: 50px;
    background-color: #F3F3F3;
}

.main1 {
    margin: 0 auto;
}

.main1>li {
    float: left;
    width: 170px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: relative;
}

.main1>li:hover .main2 {
    left: 0;
}

.main1>li a {
    display: block;
    height: 50px
}

.main1>li a:hover {
    background: #FF493C;
    color: #fff;
    font-weight: bold;
}

.main2 {
    width: 170px;
    height: 50px;
    position: absolute;
    left: -9999px;
    background: #F3F3F3;
}

.main2>li {
    position: relative;
}

.main2>li:hover .main3 {
    left: 100%;
}

.main2>li a,
.main3>li a {
    border-radius: 0px;
    background: #F3F3F3;
}

.main3 {
    position: absolute;
    top: 0;
    background: #F3F3F3;
    width: 170px;
    height: 50px;
    left: -9999px;
}

.main3>li a:hover {
    background: #FF493C;
    color: #fff;
}

.fa-solid {
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
}

.category {
    color: #FF493C;
    font-weight: bold;
}

.fa-solid {
    width: 20px;
    height: 20px;
    margin-left: 0px;
    margin-right: 10px;
}

ul .bottom-menu {
    list-style-type: none;
    float: left;
}